<div class="container">
  <h1>TODO list</h1>

  <label for="addItemInput" class="form-label">
    What would you like to do today?
  </label>
  <input
    #newItem
    class="form-control mb-1"
    id="addItemInput"
    placeholder="New item"
    type="text"
    (keyup.enter)="addItem(newItem.value); newItem.value = ''"
  />

  <div class="btn-group mb-4">
    <div
      class="btn btn-primary"
      (click)="addItem(newItem.value); newItem.value = ''"
    >
      Add
    </div>

    <button
      class="btn btn-secondary"
      [class.active]="filters == appFilter.all"
      (click)="filters = appFilter.all"
    >
      View All
    </button>

    <button
      class="btn btn-secondary"
      [class.active]="filters == appFilter.active"
      (click)="filters = appFilter.active"
    >
      View Incomplete
    </button>

    <button
      class="btn btn-secondary"
      [class.active]="filters == 'done'"
      (click)="filters = appFilter.done"
    >
      View Done
    </button>
  </div>

  <h2>
    {{ items.length }}
    <span *ngIf="items.length === 1; else elseBlock">item</span>
    <ng-template #elseBlock>items</ng-template>
  </h2>

  <ul class="list-group">
    <li *ngFor="let item of items; let i = index" class="list-group-item mb-1">
      <app-item
        [item]="item"
        (changeStatus)="changeStatus(item.done, i)"
        (updateDescription)="updateDescription(item.description, i)"
        (remove)="removeItem(item, i)"
      ></app-item>
    </li>
  </ul>
</div>
